<!DOCTYPE html>
<style>
    p {
        font-size: 15pt;
        font-weight: bold;
        margin: 0;
        font-family: sans-serif;
    }
    div {
        width: 100%;
        height: 1in;
        border: 0;
        margin: 0;
        margin-left: 0;
        text-align: center;
    }
</style>
<body>
    <div>
        <p>
            {{label_vars['shelf']}}<br>
            {{label_vars['dewey']}}<br>
            {{label_vars['author']}}
        </p>
    </div>
</body>
